.wrapper-calendar-page {
    header {
        background-color: #f0f5ff;
        padding: 16px 0 0 24px;
    }
    .wrapper-setting-calendar {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        background-color: #f0f5ff;
        padding: 10px 35px 21px 0;
    }
    .wrapper-calendar {
        padding: 0 21px 93px 25px;
        background-color: #f0f5ff;

        .ant-picker-calendar-header {
            background-color: #f0f5ff;
        }

        .ant-picker-body {
            padding: 0;
        }

        thead {
            background-color: #f0f5ff;
        }

        .ant-picker-content {
            tr {
                td:not(:first-child) {
                    border-left: 10px solid #f0f5ff;
                }

                td {
                    .ant-picker-calendar-date {
                        margin: 0;
                        height: 143px;
                    }
                }
            }
           
        }
       
    }
}
