.wrapper-form-auth {
      background: #fff;
      z-index: 9999;
      padding: 64px 85.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.logo-form {
      width: 309px;
}

.ant-tabs.ant-tabs-top {
      margin-top: 48px;
}

.ant-tabs-top>.ant-tabs-nav {
      margin-bottom: 24px;
}

.ant-tabs-nav-list {
      width: 100%;
}

.ant-tabs-tab {
      width: 50%;
      justify-content: center;
}

.wrapper-form {
      max-width: 370px;
      min-width: 240px;
      width: 100%;
}


.ant-row.ant-form-item-row>.ant-form-item-control {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      align-items: flex-end;
}


.ant-form-item-control-input-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 370px;
}

.ant-form-item-control-input {
      align-items: flex-end;
}

.ant-row {
      justify-content: center;
      align-items: flex-end;
}

.ant-form-item-explain-error {
      width: 353px;
      text-align: left;
      font-size: 12px;
}

.ant-form-item-with-help.ant-form-item-explain {
      width: 353px;
      text-align: left;
      font-size: 12px;
}

.ant-form-item-explain.ant-form-item-explain-connected {
      width: 353px;
      text-align: left;
      font-size: 12px;
}

.ant-input-wrapper.ant-input-group>.ant-input {
      padding: 10px 11px;
}

.ant-input-affix-wrapper.ant-input-password>.ant-input {
      padding: 6px 5px;
}

.ant-form-item {
      margin-bottom: 30px;
}

.ant-form-item:nth-last-child(2) {
      margin-bottom: 18px;
}

.wrapper-button-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px
}