@import '../../constants/variables.scss';
.wrapper-not-page {
    background: $white-color;
    margin: 24px 24px 42px 24px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-result.ant-result-404 {
        display: block;
        .ant-result-title {
            font-weight: $font-weight-500;
        }
        .ant-result-subtitle{
         margin-bottom: 24px;
         font-size: 13px;
        }
        div.ant-result-extra {
            button.ant-btn.ant-btn-default {
                background-color: $primary-blue-color;
                height: $button-height;
                color: $white-color;
            }
        }
    }
}



@media (max-width: 400px) {
    .wrapper-not-page {
        margin: 24px 0 42px;
        .ant-result.ant-result-404{
         padding: 48px 24px;  
        }
    }
}
