@import '../../../constants/variables.scss';
wrapper-success-modal {
    .ant-result-title {
        font-size: $font-size-large;
        font-weight: $font-weight-600;
    }
    .success-btn {
        background-color: $primary-blue-color;
        max-width: 368px;
        width: 100%;
        height: 40px;
    }
    @media (max-width: 360px) {
        .ant-modal-body {
            padding: 0;
        }

        .ant-result {
            padding: 35px 24px;
        }
        .ant-result-title {
            line-height: 1.2;
        }
    }
}
