.ant-result-success{
   .ant-result-title{
      font-size: 24px;
      font-weight: 600;
     }
   .success-btn{
     background-color: #2F54EB;
     max-width:368px;
     width: 100%;
     height: 40px;
     
   }
}