.ant-layout-sider-children {
   display: flex;
   flex-direction: column;
}

.logo {
   width: 100%;
   padding-left: 28px;
   margin: 43px 0 56px;
}

.logo > img {
   cursor: pointer;
}

.ant-menu-item > .anticon {
   padding: 2px;
}

.ant-menu-title-content,
.exit {
   color: #262626;
}

.exit {
   border-top: 1px solid #f0f0f0;
   margin-top: auto;
   padding: 10px 16px;
   display: flex;
   gap: 25px;
   cursor: pointer;
}

.ant-layout-sider-collapsed > .ant-layout-sider-children > .logo {
   padding-left: 16px;
   margin: 47px 0 58px;
}