.main-content {
   padding: 24px;
}

.main-text-description span {
   display: block;
}

.main-text-description,
.main-info-message {
   max-width: 752px;
   padding: 24px;
}

.main-text-description {
   color: #061178;
   font-size: 16px;
   line-height: 130%;
   background: var(--color-White);
}

.main-info-message {
   margin-top: 24px;
   background: var(--color-White);
   font-weight: 500;
   line-height: 130%;
   color: var(--color-Gray);
   font-size: 20px;
}

.wrapper-list-cards {
   max-width: 752px;
   margin-top: 16px;
   display: flex;
   gap: 16px;
}

@media (max-width: 780px) {
   .wrapper-list-cards {
       flex-wrap: wrap;
   }
}

@media (max-width: 568px) {
   .main-text-description,
   .main-info-message {
       padding: 16px;
   }
}
