.bg-wrapper-recovery-password {
   position: relative;
   width: 100%;
   height: 100vh;
   padding-bottom: 18px;
   display: flex;
   align-items: center;
   justify-content: center;

}

.bg-wrapper-recovery-password:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: url('/assets/images/bg-dark.png');
   background-repeat: no-repeat;
   background-size: cover;
   filter: blur(11px);
}

.wrapper-recovery-password {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 99999;
   background: #fff;
   text-align: center;
   min-width: 540px;
   min-height: 410px;
}

.card-recovery-password {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 368px;
   gap: 18px;
}

.password-title {
   font-size: 24px;
}

.ant-input-group.ant-input-group-sm>.ant-row {
   gap: 5px;
}