.wrapper-recovery-password {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 99999;
   background: #fff;
   text-align: center;
   min-width: 540px;
   min-height: 410px;
}

.card-recovery-password {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 368px;
   gap: 27px;
}

.wrapper-text-send{
   display: flex;
   flex-direction: column;
}

.text-send-email{
   color:#8C8C8C ;
}

.text-send-email > span{
   font-weight: 700;
}


.password-title {
   font-size: 24px;
}

.ant-input-group.ant-input-group-sm>.ant-row {
   gap: 5px;
}

.vi__container.error>.vi__character {
   border: 1px solid red;
}

.text-input-verification {
   color: #8C8C8C;
}



.vi__container>.vi__character--inactive {
   color: black;
   background-color: #fff;
}