.feedbacks-content {
   

    header {
        padding: 16px 24px;
        background-color: #f0f5ff;
    }
    .wrapper-feedbacks-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 616px;
    }
    .wrapper-commit {
        height: 616px;
        overflow-y: auto;
    }
    .wrapper-card-commit {
        display: flex;
        background-color: #fff;
        margin: 20px 24px 20px;
        min-height: 128px;
        padding: 16px;
        gap: 10px;
    }
    .description-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        min-width: 174px;
        height: 96px;
    }

    .name-user {
        display: flex;
        flex-direction: column;
    }

    .wrapper-rate-text {
        display: flex;
        flex-direction: column;
        .ant-rate {
            font-size: 14px;
        }
        .wrapper-rate-date {
            display: flex;
            gap: 15px;
        }
        .date-commit {
            font-size: 10px;
            color: #bfbfbf;
        }
    }
    .anticon-star {
        width: 13px;
        height: 13px;
        color: #faad14;
    }

    
   
    .wrapper-commit-btn {
        margin: 108px 0 0 22px;
    }
    .write-review-btn {
        background-color: #2f54eb;
        color: #fff;
    }
    .expand-reviews-btn {
        color: #2f54eb;
        font-size: 16px;
    }
}
