@import '../../constants//variables.scss';
.feedbacks-content {
    header {
        padding: 16px 24px;
        background-color: $geekblue-1;
    }
    .wrapper-feedbacks-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 616px;
    }
    .wrapper-commit {
        height: 616px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .wrapper-card-commit {
        display: flex;
        background-color: $white-color;
        margin: 20px 24px 20px;
        min-height: 128px;
        padding: 16px;
        gap: 10px;
    }
    .description-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        min-width: 174px;
        height: 75px;
    }

    .name-user {
        display: flex;
        flex-direction: column;
    }

    .wrapper-rate-text {
        display: flex;
        flex-direction: column;
        .ant-rate {
            font-size: $font-size-medium;
            color: #faad14;
            .ant-rate-star-focused {
                color: red;
            }
        }
        .text {
            word-break: break-all;
        }
        .wrapper-rate-date {
            display: flex;
            gap: 15px;
        }
        .date-commit {
            font-size: $font-size-xsmall;
            color: $gray-6;
        }
    }

    .wrapper-commit-btn {
        margin: 108px 0 0 22px;
    }
    .write-review-btn {
        background-color: $primary-blue-color;
        color: $white-color;
    }
    .expand-reviews-btn {
        color: $primary-blue-color;
        font-size: $font-size-normal;
    }
    @media (max-width: 700px) {
        .wrapper-card-commit {
            flex-direction: column;
        }
    }
    @media (max-width: 400px) {
        .description-user {
            flex-direction: row;
            justify-content: center;
            gap: 4px;
        }
        .wrapper-commit-btn {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .write-review-btn {
                max-width: 328px;
            }
        }
    }
    @media (max-width: 360px) {
        .description-user {
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
        }
    }
}
