@import '../../constants/variables.scss';
.wrapper-profile-details {
    .header-profile-details {
        background-color: $geekblue-1;
        .inner-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 24px;
            .header-title {
                color: $gray-10;
                font-size: $font-size-extra-small;
            }
            .header-setting {
                display: flex;
                align-items: center;
                gap: 14px;
                margin-right: 13px;
                cursor: pointer;
            }
        }
    }
    .main-profile-details {
        background-color: $white-color;
        max-width: 1184px;
        height: calc(100vh - 140px);
        height: 100vh;
        margin: 24px 24px 42px;
        padding: 24px;
        border-radius: 15px;
        .text-title {
            color: $gray-10;
            font-size: $font-size-normal;
            font-weight: $font-weight-500;
        }
        .wrapper-profile-details {
            padding-top: 24px;
            .wrapper-upload-input {
                display: flex;
                gap: 16px;
                margin-bottom: 24px;
            }
        }
        .private {
            margin-bottom: 24px;
        }
    }
    .wrapper-btn-profile {
        margin-top: 56px;

        .btn-profile {
            height: $button-height;
            width: 206px;
            font-size: $font-size-normal;
        }
    }
    @media (max-width: 768px) {
        .wrapper-upload-input {
            flex-direction: column-reverse;
        }
    }
    @media (max-width: 400px) {
        .header-profile-details .inner-header {
            display: block;
            .header-setting {
                flex-direction: row-reverse;
                margin: 8px 7px 0 0;
                .title {
                    display: none;
                }
            }
            .header-title {
                font-size: $font-size-medium;
            }
        }
        .main-profile-details {
            border-radius: 0;
            margin: 24px 0 42px;
            .wrapper-profile-details {
                padding-top: 20px;
                .wrapper-upload-input {
                    gap: 0;
                    margin-bottom: 33px;
                    .private{
                       margin-bottom: 21px;
                    }
                }
            }
            .wrapper-btn-profile{
                margin-top: 49px;
                .btn-profile{
                    width: 100%;
                }
            }
        }
    }
}

