.ant-modal-root {
    .ant-modal-mask {
        background-color: transparent;
        backdrop-filter: blur(3px);
    }
    .ant-modal-content {
        min-width: 539px;
        width: 100%;

        .ant-modal-title {
            font-size: 18px;
        }

        .ant-modal-body {
            padding-top: 16px;

            .ant-input {
                margin-top: 16px;
                height: 46px;
            }
        }

        .ant-modal-footer {
            .ant-btn-primary {
                background-color: #2f54eb;
                color: #fff;
                height: 40px;
                width: 130px;
            }
        }
    }
}
