@import '../../../constants/variables.scss';
.wrapper-write-modal {
    .ant-modal-body {
        padding-top: 20px;
    }
    .ant-modal-close-x {
        width: 38px;
        font-size: $font-size-medium;
    }
    .ant-rate {
        margin-bottom: 16px;
    }
    .ant-input {
        line-height: 0.7;
        padding: 10px;
    }

    .btn-write-new-commit:disabled {
        color: rgba(0, 0, 0, 0.25);
        background: $gray-3;
        text-shadow: none;
        box-shadow: none;
    }

    .btn-write-new-commit {
        height: $button-height;
        background-color: $primary-blue-color;
    }
    @media (max-width: 360px) {
        .btn-write-new-commit {
            width: 100%;
        }
        .ant-modal-close-x {
            width: 55px;
        }
    }
}
