.wrapper-write-modal{
   .ant-modal-body{
      padding-top: 20px;
   }
   .ant-modal-close-x{
      width: 38px;
      font-size: 14px;
   }
   .ant-rate{
        margin-bottom: 16px;
   }
   .ant-input{
      line-height: 0.7;
      padding: 10px;
   }
   .btn-write-new-commit{
      height: 40px;
        background-color:#2F54EB;
   }
   @media(max-width:360px){
      .btn-write-new-commit{
         width: 100%;
      }
      .ant-modal-close-x{
         width: 55px;
      }
   }
}