.wrapper-card-create-traine {
    width: 264px;
    position: absolute;
    left: 0;
    top: 2px;
    z-index: 99999 !important;
    box-shadow: 10px 5px 5px #0000001a;
    background-color: #fff;

    .header-card-create-traine {
        padding: 16px 12px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .title-card-create-traine {
            .text-data-create-card {
                font-weight: bold;
            }
            > span {
                color: #8c8c8c;
            }
        }

        .close-card-create-traine {
            font-size: 12px;
        }

        & + .wrapper-badge-training {
            padding: 0 12px;
            min-height: 64px;

            .item-badge {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .wrapper-img {
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 32px;
            height: 32px;
        }
    }

    .wrapper-btn-create-traine {
        padding: 12px;
        display: flex;
        justify-content: center;
        .btn-create-traine {
            width: 240px;
            margin: 0 auto;
            height: 40px;
            background-color: #2f54eb;
            color: #fff;
        }
    }
}
