.bg-wrapper{
   background-image: url('/assets//images/bg.jpg');
   background-repeat: no-repeat;
   background-size: cover
}

.fit-logo{
   width: 30px;
}

.wrapper-text{
   display: flex;
   flex-direction: column;
}

.main-text-description{
   color: #061178;
   font-size: 16px;
   line-height: 130%;
   margin: 24px 0 24px 24px;
   width: 700px;
   background: #fff;
   height: auto;
   padding: 24px;
   height: 250px;
}

.main-text-description span{
   display: block;
}

.main-info-message{
   padding: 24px;
   margin: 24px 0 24px 24px;
   background:#fff ;
   width: 700px;
   color: #262626;
   font-size: 20px;
   font-weight: medium;
}


.wrapper-sidebar{
   display: flex;
   height: 1194px;
   flex-direction: column;
   justify-content: space-between;
}