@import '../../constants/variables.scss';

.upload-photo-wrapper {
    // .ant-upload-list-item.ant-upload-list-item-error.ant-upload-list-item-list-type-picture-card {
    //     border: 1px solid $gray-5;
    //     .ant-upload-list-item-name[title]{
    //        content: 'png';
    //     }
    // }

    .btn-upload {
        width: 70px;
        color: $gray-color;
    }
}

@media (max-width: 768px) {
    .wrapper-upload-mobile {
        display: flex;
        align-items: center;
        gap: 16px;
        max-width: 312px;

        .btn-upload {
            padding: 10px 22.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid $gray-5;
            height: $button-height;
            color: $gray-color;
            width: 147px;
        }
        .ant-upload-list-item-name[title] {
            width: 0;
            opacity: 0;
        }
    }
}

.wrapper-modal-error-message {
    .ant-btn.ant-btn-primary {
        background-color: $primary-blue-color;
        height: $button-height;
    }
}

@media (max-width: 400px) {
    .wrapper-upload-mobile {
        .text-upload-mobile {
            font-size: $font-size-small;
        }
        .ant-upload-list-item-info {
            max-width: 297px;
        }
    }
    .ant-upload-list-picture .ant-upload-span {
        width: 297px;
    }
}
