@import '../../constants/variables.scss';
.container-not-review {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    .wrapper-not-reviews {
        width: 1184px;
    }
    .text-not-reviews {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: $margin-center;
        background-color: $white-color;
        height: 245px;
    }
    .title-not-reviews {
        color: $geekblue-9;
        font-weight: $font-weight-600;
        font-size: $font-size-large;
        text-align: center;
        padding: 56px 0 48px;
    }
    .subtitle-not-reviews {
        margin: $margin-center;
        text-align: center;
        width: 521px;
        color: $gray-color;
        line-height: 130%;
    }

    .wrapper-btn-write-commit {
        text-align: center;
        margin-top: 43px;
        .btn-write-commit {
            background-color: $primary-blue-color;
            font-size: $font-size-medium;
            color: $white-color;
            height: $button-height;
            border: none;
        }
    }
    @media (max-width: 790px) {
        .wrapper-not-reviews {
            width: 500px;
        }
        .text-not-reviews {
            height: auto;
        }
        .subtitle-not-reviews {
            width: auto;
        }
    }
    @media (max-width: 360px) {
        .title-not-reviews {
            padding-top: 44px;
        }
        .subtitle-not-reviews {
            width: 264px;
            padding-bottom: 48px;
        }
        .wrapper-btn-write-commit {
            .btn-write-commit {
                width: 100%;
            }
        }
    }

    @media (max-width: 360px) {
        align-items: flex-start;
    }
}
