.sidebar-add-training.edit {
    .wrapper-action {
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        padding: 0 10px;
        gap: 10px;

        .btn-repeat,
        .btn-delete {
            width: 50%;
            text-align: center;
        }

        .btn-delete {
            background-color: transparent;
            border: none;

            &:disabled {
                color: #00000040;
            }
        }
    }

    .ant-drawer-body {
        display: flex;
        flex-direction: column;

        .notification {
            padding-top: 20px;
            text-align: center;
            color: #8c8c8c;
            font-weight: 400;
            font-size: 12px;
            line-height: 15.6px;
            max-width: 260px;
            margin: auto auto 0;
        }
    }

    .ant-drawer-body {
        .ant-input-group-wrapper {
            padding: 0;

            .ant-input-group {
                .ant-input {
                    height: 24px;
                    padding: 3px 8px;
                }
            }
        }
    }
}
