.wrapper-auth-status {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 99999;
   background: #fff;
   text-align: center;
   min-width: 540px;
   min-height: 345px;


}

.card-status{
   display: flex;
   flex-direction: column;
   width: 368px;
   gap: 18px;
}


.status-description {
   font-size: 24px;
}
.text-subtitle{
   color:#8C8C8C ;
}