.wrapper-change-password {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   position: relative;
   z-index: 99999;
   background: #fff;
   text-align: center;
   padding: 64px 85.5px;
   max-width: 539px;
}


.text-change-pass {
   font-size: 24px;
}

.wrapper-change-password>.ant-form {
   margin-top: 32px;
}


.text-change-pass>.ant-row.ant-form-item-row>.ant-col.ant-form-item-control>.ant-form-item-control {
   height: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: column;
   align-items: flex-end;
}

.wrapper-change-password .ant-form-item:last-child {
   margin-bottom: 0;
   margin-top: 60px;
}


.wrapper-change-password .ant-btn.ant-btn-primary {
   height: 40px;
}