@import '../../constants/variables.scss';
.wrapper-profile-password {
    .form-profile-password {
        .ant-form-item {
            margin-bottom: 30px;
            
        }
        .ant-form-item.ant-form-item-with-help{
            margin-bottom: 45px;
        }
        .ant-form-item-explain {
            font-size: $font-size-small;
        }
        .ant-input-group-wrapper {
            max-width: 480px;
            .ant-input {
                height: $button-height;
            }
        }
        .ant-form-item-control-input-content {
            max-width: 480px;
        }
        .ant-input-affix-wrapper {
            height:$button-height;
        }
    }
}
