@import '../../constants/variables.scss';
.main-footer {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 135px;
    .view-reviews {
        color: $primary-blue-color;
        font-size: $font-size-normal;
        padding: 9.5px 15px;
        cursor: pointer;
    }

    .wrapper-card {
        max-width: 240px;
        min-width: 240px;
    }
    .title {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 6px;

        span {
            color: $primary-blue-color;

            &:last-child {
                color: $gray-color;
                font-size: $font-size-medium;
            }
        }
    }
    .list-phones {
        display: flex;
        justify-content: space-between;
        > .phone {
            display: flex;
            gap: 8px;
            cursor: pointer;
        }
    }
}

@media (max-width: 780px) {
    .main-footer {
        margin-top: 0;
        padding-top: 0 24px;
        flex-direction: column;
    }

    .wrapper-card {
        max-width: 100%;
        min-width: 100%;
    }

    .view-reviews {
        order: 2;
        margin-top: 24px;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 568px) {
    .main-footer {
        .title {
            text-align: center;
        }
    }
}
