.wrapper-calendar-dekstop {
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: #f0f5ff;

    &::-webkit-scrollbar {
        display: none;
    }

    &:-webkit-scrollbar-track {
        display: none;
    }

    header {
        padding: 16px 0 0 24px;
    }

    .wrapper-setting-calendar {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        background-color: #f0f5ff;
        padding: 10px 35px 21px 0;
    }

    .wrapper-calendar {
        padding: 0 21px 93px 25px;
        background-color: #f0f5ff;

        .ant-picker-calendar-header {
            background-color: #f0f5ff;
        }

        .ant-picker-body {
            padding: 0;
        }

        thead {
            background-color: #f0f5ff;
        }

        .ant-picker-content {
            tr {
                td:not(:first-child) {
                    border-left: 10px solid #f0f5ff;
                }

                td {
                    .ant-picker-calendar-date {
                        margin: 0;
                        height: 143px;
                    }
                }

                td:last-child {
                    .wrapper-card-create-traine {
                        right: 0;
                        left: auto;
                        box-shadow: -10px 5px 5px #0000001a;
                    }
                }

                td:last-child {
                    .wrapper-card-training {
                        right: 0;
                        left: auto;
                        box-shadow: -10px 5px 5px #0000001a;
                    }
                }
            }

            .cell-table {
                display: block;
                width: auto;
                height: auto;
                padding: 4px 8px 0;
                border: 0;
                border-top: 2px solid #f0f0f0;
                border-radius: 0;
                transition: #1890ff 0.3s;
                min-width: 24px;
                line-height: 24px;
                cursor: pointer;
                margin: 0;
                height: 143px;

                .ant-picker-calendar-date-content {
                    &::-webkit-scrollbar {
                        display: none;
                    }

                    &:-webkit-scrollbar-track {
                        display: none;
                    }
                }
            }
        }

        .wrapper-badge-training {
            display: flex;
            flex-direction: column;

            .item-badge {
                display: flex;
                justify-content: space-between;

                &.disabled {
                    color: #000000D9;
                }
            }
        }

        @media (max-width: 1000px) {
            .ant-picker-content tr td:not(:first-child) {
                border-left: 6px solid #f0f5ff;
            }

            .wrapper-badge-training {
                .ant-badge.ant-badge-status.ant-badge-not-a-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .ant-badge-status-text {
                    font-size: 12px;
                    margin-left: 0;
                }
            }
        }
    }
}