@import '../../constants/variables.scss';
.wrapper-name-surname-age-input {
    width: 100%;
    max-width: 352px;
    .ant-form-item {
        margin-bottom: 15px;
        .ant-input {
            height: $button-height;
        }
    }

    .ant-picker {
        height: $button-height;
    }
}
